
@mixin display-center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin display-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
}